{% extends "base.html" %}
{% load static %}
{% block page_title %} Dota-TR Lobisi {% endblock page_title %}

{% block extra_head %}
<style>
    .no-space{/*border:1px solid #000;margin-left:0 !important;*/}

    .content {
        background: white;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

      .blockbox h4 {
          background:red;
      } 

    footer {
        visibility: hidden;
    }

    .right-block {
        background: none;
        box-shadow: none;
    }

    .blockbox {

background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */
id:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */

      }

    .blockbox p{
        color: black;
      }

    .blockbox a{
        color: black;
      }
    .blockbox li:hover{
        background-color: red;
      }



    #userList{
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.1)
    }


    #chatPanel{
        padding-left: 10px;
        height: 500px;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .chat {
        color: color;
        background-color: rgba(232, 123, 112, 0.1);
    }

    .chat-message {
        color: black;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    }

    .chat-player {
        font-family: freight-sans-pro, sans-serif;
        font-size: 1.1em;
        color: red;
        text-shadow:
            1px 1px #ccc;
        font-weight: bold;
    }

    #gameList{
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(150, 150, 150, 0.1);
    }

    #game-chatPanel {
        height: 200px;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.9);
    }
    #game-userList{
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.1)
    }

    #gamechat label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: red;
    }

    .gamename {
        padding: 5px 10px;
        margin:5px;
        border:1px solid #ccc;
        background-color: rgba(255, 0, 0, 0.6);
        color: white; text-shadow: black 0.1em 0.1em 0.2em;     
    }

    .gamename:hover {
        border:1px solid #ccc;
        background-color: rgba(255, 0, 0, 1);     
    }

    .tab-content {
        margin-left: 20px;
        border: 1px solid #ccc;
        background-color: #E6F5FA;
        background: url('{% static 'img/dota-2.jpg' %}') no-repeat 100%  0% #fff;
        color:black;
    }

    #lobbychat, #addgame, #startgame, #gamechat{
        margin-top: 10px;
    }

    #lobbychat label.error {
        width: auto;
        display: inline;
        color: red;
    }

    #dropZone {

    }
    .player { 
        padding: 5px 10px;
        margin:5px;
        border:1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    }
    .player:hover { 
        border:1px solid #0099FF;
        background-color: rgba(0, 0, 100, 0.3);
        color: white;
    }
    .stack {
        margin-top: 20px;
        margin-left: 20px;
        border: 1px solid #ccc;
    }
    .stackHdr {
        background-color: rgba(255, 0, 0,  0.9);
        padding: 5px;
        color: white;
        text-align: center;
    }
    .radiant_box, .dire_box {
        min-height:100px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    #warningModal {
        color: #000;
    }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}

.gamenav {
    margin-left: 20px;
}

.gamenav a { 
    color:red;
    background: white;!important 
} 

.gamenav .active a { 
    color: white;
    background: red;!important 
} 
.gamenav .active a:hover { 
    color: black;
    background: red;!important 
} 

/*    #sortableUsers, #radiant_box, #dire_box {
        margin:0px;
        float: left;
        margin-right: 10px;
        width: 120px;
        border: solid;
        height: 150px;
    }*/
    /*#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }*/
    /* #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }*/
</style>


<script>
    $(document).ready(function(){
        var iosocket = io.connect('{{ async_url  }}');
        var currentRoom = null
        var radiant_team = [];
        var dire_team = [];

        iosocket.on('connect', function(){
            iosocket.emit('adduser', '{{ request.user.username }}');
        });
        iosocket.on('userlist', function(users){
            updateUserList(users);
        });
        iosocket.on('game_userlist', function(data){
            updateGameUserList(data);
        });
        iosocket.on('updatechat', function(room, user, message){
            updateChat(room, user, message);
        });
        iosocket.on('gamelist', function(games){
            updateGameList(games);
        });
        iosocket.on('user_dc_from_game', function(data){
            if(data.room == currentRoom) {
                updateChat(data.room, 'Sunucu', data.username+" oyundan ayrıldı.")
                $('.player-'+data.username).remove();    
            }

        });

        iosocket.on('user_connected_to_game', function(data){
            if(data.room == currentRoom) {
                updateChat(data.room, 'Sunucu', data.username+" oyuna katıldı.")           
            }
        });

        iosocket.on('update_player_positions', function(data){
            $('.radiant_box').children().remove();
            $.each(data.radiant_team, function(key, value){
                console.log("radiant: "+value)
                $('.radiant_box').append("<div class='user-tooltip player player-"+value+"' id='' data-title='"+ value +" Hakkında' data-load='/nodetest/tooltip/"+ value +"'>"+value+"</div>");
            });
            $('.dire_box').children().remove();
            $.each(data.dire_team, function(key, value){
                console.log("dire: "+ value)
                $('.dire_box').append("<div class='user-tooltip player player-"+value+"' id='' data-title='"+ value +" Hakkında' data-load='/nodetest/tooltip/"+ value +"'>"+value+"</div>");
            });
            $('#game-userList').children().remove();
            $.each(data.online_users, function(key, value){
                console.log("online: "+value)
                $('#game-userList').append("<div class='user-tooltip player player-"+value+"' id='' data-title='"+ value +" Hakkında' data-load='/nodetest/tooltip/"+ value +"'>"+value+"</div>");
            });            
            console.log(" ")
        })

        iosocket.on('game_closed_by_creator', function() {
            $('#warningModal').modal({
                backdrop: 'static',
                keyboard: false,
            });
            $('#warningModal').modal('show')
        })

        function updateChat(room,user,message){
            if(room=='Lobi') {
                panel = $('#chatPanel') 
            } else {
                panel = $('#game-chatPanel')
            }
            var htm = '';
            var html = "<small>["+ getTime() +"] </small>";
            if(user=='Sunucu'){
                html += " "+user+ " : ";
            } else {
                html += "<span class='chat-player'> " + user + " </span> : "
            }
            html += "<span class='chat-message'>"+ message + "</span>"
            var el = jQuery('<div class="chat">'+html+'</div>');
            panel.append(el);

            if(room=='Lobi') { 
                $('#chatPanel>div.chat:even').css("background-color", "rgba(112, 123, 112, 0.2);");
            } else {
                $('#game-chatPanel>div.chat:even').css("background-color", "rgba(112, 123, 112, 0.2);"); 
            }

            if(user=='Sunucu') { el.fadeOut(10000, "linear"); }
            jQuery(el).gemoticon();
            panel.scrollTop(panel[0].scrollHeight);
        }

        function updateUserList(users){
            $('#userList').empty();
            $.each(users, function(key, value) {
                $('#userList').append("<div class='user-tooltip player' data-title='"+ value +" Hakkında' data-load='/nodetest/tooltip/"+ value +"'>"+value+"</div>");
            });                
        }

        function updateGameUserList(data){
            $('#game-userList').html('')
            $.each(data.users, function(key, value) {
                if($('.player-'+value).length > 0) {
                    //
                } else {
                $('#game-userList').append("<div class='user-tooltip player player-"+value+"' id='' data-title='"+ value +" Hakkında' data-load='/nodetest/tooltip/"+ value +"'>"+value+"</div>");
                }
            });
            if(data.room == "{{request.user.username }}") {
                $(".player").draggable({
                    appendTo: "body",
                    helper: 'clone',
                    revert: "invalid",
                });

                $("#game-userList").droppable({
                    tolerance: "intersect",
                    accept: ".player",
                    activeClass: "ui-state-default",
                    hoverClass: "ui-state-hover",
                    drop: function(event, ui) {
                        $("#game-userList").append($(ui.draggable));
                        sendTeamsToServer();
                    }
                }); 
            }       
        }



        function updateGameList(games){
            $('#gameList').empty();
            $.each(games, function(key, value){
                if(value!="" && value !="/Lobi"){
                    if(value!="/{{ request.user.username }}") {
                        $('#gameList').append("<div class='gamename'>"+value.replace('/','')+"</div>");                           
                    } 
                }

            })
        }

        function getTime(){
            var date = new Date();
            return (date.getHours() < 10 ? '0' + date.getHours().toString() :
                date.getHours()) + ':' + (date.getMinutes() < 10 ? '0' +
                date.getMinutes().toString() : date.getMinutes());
        }

        function getTeams(){
            online_users = [];
            radiant_team = [];
            dire_team = [];

            $(".radiant_box").children().not('.popover').each(function(){
                radiant_team.push($(this).text());
            })
            $(".dire_box").children().not('.popover').each(function(){
                dire_team.push($(this).text());
            })

            $("#game-userList").children().not('.popover').not('.popover').each(function(){
                online_users.push($(this).text());
            })

            online_users = $.unique(online_users);
            radiant_team = $.unique(radiant_team);
            dire_team = $.unique(dire_team);
            console.log("users: "+online_users+" radiant: "+radiant_team+" dire: "+dire_team)
            return {'radiant_team': radiant_team, 'dire_team': dire_team, 'online_users': online_users}
        }

        function sendTeamsToServer(){
            iosocket.emit('update_clients_teams', {'room': currentRoom, 'teams': getTeams()});
        }


        $(document).on('click', "[class^=gamename]", function(){
            el = $(this);
            joinGame(el.text());
        })


        $(document).on('click', ".user-tooltip",  function() {
            el = $(this);
            $.get(el.data('load'), function(response) {
                el.popover({
                content: response,
                placement: 'right',
                html: true,
                selector: '.user-tooltip',
                delay: {show: 500, hide: 100}
                }).popover('show');
            });
        })

        $(document).on('mouseup', function(e) {
            if(!$(e.target).closest('.popover').length) {
                $('.popover').each(function(){
                    $(this.previousSibling).popover('hide');
                });
            }
        });


        $('#msg').keypress(function(e){
            if(e.which == 13){
                $('#lobbychat').validate({ // initialize plugin
                // rules & options, 

                    focusInvalid: false,
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,
                    messages: {
                        msg: {
                                required: "Lütfen mesajı giriniz.",
                                maxlength: jQuery.format("Mesaj {0} karakterden fazla olamaz.")
                        }
                    },
                    rules: {
                        msg: {
                            required: true,
                            maxlength: 250,
                        },
                    },
                    submitHandler: function(form) {
                            var message = $('input#msg').val();
                            message = message.replace(/(<([^>]+)>)/ig,"");
                            iosocket.emit('sendchat', 'Lobi', message);
                            $('input#msg').val("");

                    },
                    success: function(){

                    }
                });

            }
        })

        $(document).on('keypress', '#game-msg', function(e){
            if(e.which == 13){
                $('#gamechat').validate({ // initialize plugin
                // rules & options, 

                    focusInvalid: false,
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,
                    messages: {
                        gamemsg: {
                                required: "Lütfen mesajı giriniz.",
                                maxlength: jQuery.format("Mesaj {0} karakterden fazla olamaz.")
                        }
                    },
                    rules: {
                        gamemsg: {
                            required: true,
                            maxlength: 250,
                        },
                    },
                    submitHandler: function(form) {
                            var message = $('input#game-msg').val();
                            message = message.replace(/(<([^>]+)>)/ig,"");
                            iosocket.emit('sendchat', currentRoom, message);
                            $('input#game-msg').val("");

                    },
                    success: function(){

                    }
                });
            }
        });


        function joinGame(owner){
            if(currentRoom==null){
                name = owner;
                currentRoom = owner;
                if($('#tab'+name).length > 0){
                    $('#tabs a[href="#tab'+name+'"]').tab('show');
                } else {
                    $('<li><a href="#tab'+name+'" data-toggle="tab"><button class="btn pull-right" type="button" onclick="window.location = \'/nodetest/\';">Lobiden Ayrıl</button>'+name+' Lobisi</a></li>').appendTo('#tabs');
                    tab_content = '<div class="tab-pane" id="tab'+name+'">';
                    tab_content += $('#gametab-content').html();
                    tab_content += '</div>';
                    $('.tab-content').append(tab_content);
                    $('#tabs a:last').tab('show');
                    iosocket.emit('subscribe', {room: name})
                }
            }
            else updateChat('Lobi', 'Sunucu' , '<span class="label label-important">Şu anda zaten açık bir oyundasınız.</span>');
        }

        $('#addgame').on('click', function(){
            if(currentRoom==null){
                name = '{{request.user.username}}';
                currentRoom = '{{request.user.username}}';
                if($('#tab'+name).length > 0){
                    $('#tabs a[href="#tab'+name+'"]').tab('show');
                } else {
                    $('<li><a href="#tab'+name+'" data-toggle="tab"><button class="btn btn-inverse pull-right" type="button" onclick="window.location = \'/nodetest/\';"> Oyunu Kapat </button>'+name+' Lobisi</a></li>').appendTo('#tabs');
                    tab_content = '<div class="tab-pane" id="tab'+name+'">';
                    tab_content += $('#gametab-content').html();
                    tab_content += '</div>';
                    $('.tab-content').append(tab_content);
                    $('#tabs a:last').tab('show');
                    iosocket.emit('subscribe', {'room': name})
     /*               $( "#radiant_box, #dire_box").sortable(
                        { 
                            connectWith: ".connectedSortable",
                            update : function(event, ui) {
                                        var order = $(this).sortable('toArray').toString();
                                        alert($(this).attr('id')+ " " +order);
                                    }
                        }).disableSelection();*/
                    $('#startbutton').html('<a id="startgame" class="btn btn-block btn-success">Oyunu Başlat</a>');
                    $(".radiant_box").droppable({
                        tolerance: "intersect",
                        accept: function(d){
                            if(d.hasClass("player") && $(this).children().not('.popover').size() < 5 ){
                                return true;
                            }
                        },
                        activeClass: "ui-state-default",
                        hoverClass: "ui-state-hover",
                        drop: function(event, ui) {
                            $(this).append($(ui.draggable));
                            sendTeamsToServer();
                        }
                    });

                    $(".dire_box").droppable({
                        tolerance: "intersect",
                        accept: function(d){
                            if(d.hasClass("player") && $(this).children().not('.popover').size() < 5 ){
                                return true;
                            }
                        },
                        activeClass: "ui-state-default",
                        hoverClass: "ui-state-hover",
                        drop: function(event, ui) {    
                            $(this).append($(ui.draggable));
                            sendTeamsToServer();
                        }
                    });
                }

            } else updateChat('Lobi', 'Sunucu' , '<span class="label label-important">Şu anda zaten açık bir oyundasınız.</span>');
        });

        $(document).on('click', '#startgame', function(){
            getTeams();
            console.log("Radiant: "+radiant_team+" Dire: "+dire_team);
        })

        $('.closedGame').on('click', function() {
            window.location.replace("/nodetest/");
        })


        /*$(document).on('click', '.closeTab', function(){
            var tabContentId = $(this).parent().attr("href");
            $(this).parent().parent().remove();
            $('#tabs a:last').tab('show');
            $(tabContentId).remove();
            iosocket.emit('unsubscribe', {room: currentRoom});   
            currentRoom = null;      
        })*/

    });
</script>
{% endblock extra_head %}
{% block content %}

<ul class="nav nav-pills nav-stacked gamenav" id="tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Ana Lobi</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    Bağlı Oyuncular
                    <div id="userList"></div>
                </div>
                <div class="span7">
                    Sohbet
                <div id="chatPanel"></div>  
                </div>
                <div class="span3">
                    Oyunlar
                    <div id="gameList"></div>  
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <a id="addgame" class="btn btn-block btn-warning">Oyun Lobime Git</a>
                </div>
                <div class="span10">
                    <form id="lobbychat">  
                        <input class="input input-block-level" type="text" placeholder="Yazmak istediğiniz mesaj ..." id="msg" name="msg">
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>

<div id="gametab-content" style="display: none">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 no-space">
                Bağlı Oyuncular
                <div id="game-userList"></div>
            </div>
            <div class="span10 no-space">

                <div id="dropZone">
                    <div class="stack">
                        <div class="stackHdr">
                            Radiant
                        </div>
                        <div class="radiant_box">
                            
                        </div>
                    </div>
                    
                    <div class="stack">
                        <div class="stackHdr">
                            Dire
                        </div>
                        <div class="dire_box">
                            
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
        <div class="row-fluid">
        <div class="span12">
                            Sohbet Penceresi<hr>
                <div id="game-chatPanel"></div>  
        </div> 
        </div>
        <div class="row-fluid">
            <div class="span10 no-space">
                    <form id="gamechat">  
                        <input class="input input-block-level" type="text" placeholder="Yazmak istediğiniz mesaj ..." id="game-msg" name="gamemsg">
                    </form>
            </div>
            <div class="span2" id="startbutton">
               
            </div>  
        </div>
    </div>
</div>

<div id="warningModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close closedGame" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="warningModalLabel">Kurucu Oyundan Ayrıldı !</h3>
  </div>
  <div class="modal-body">
    <p>Oyun kurucusu lobiden ayrıldığı için oyun otomatik olarak kapatıldı. Lütfen ana lobiye dönüp başka bir oyuna girin.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning closedGame">ANA LOBİYE DÖN</button>
  </div>
</div>


<script src="{{ async_url  }}/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href="{% static 'css/gemoticons.css' %}" type="text/css" rel="stylesheet" />
<script src="{% static 'js/jquery.gemoticons.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
{% endblock content %}