{% extends "base.html" %}
{% load thumbnail %}
{% block page_title %}Anasayfa{% endblock page_title %}
{% block content %}

{{ user_data.extra_data.steamid }}
<img src="{{ user_data.extra_data.avatarmedium }}"><br>

<img src="{{ request.user.social_auth.extra_data.avatarmedium }}"><br>

   {% if news %}
        {% for article in news %}
            <div class="row">
              <div class="span8">
                <div class="row">
                  <div class="span8">
                    <h4><strong><a href="{% url 'news_home' %}{{ article.slug }}">{{ article.title }}</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                            <img src="{% thumbnail article.image 260x180 crop %}" alt="">
                    </a>
                  </div>
                  <div class="span6">      
                    <p>
                       {{ article.content|truncatewords:15 }}
                    </p>
                    <p><a class="btn" href="{% url 'news_home' %}{{ article.slug }}"> Devamını Oku <a/></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span8">
                    <p></p>
                    <p>
                        <i class="icon-user"></i> <a href="/profil/{{ article.publisher.pk }}">{{ article.publisher }}</a> 
                        | <i class="icon-calendar"></i> {{ article.pub_date|timesince }}
                        | <i class="icon-comment"></i> <a href="{% url 'news_home' %}{{ article.slug }}#disqus_thread">Yorumlar</a> 
                        | <i class="icon-share"></i> <a href="{% url 'news_home' %}{{ article.slug }}"> Haberi Oku <a/>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>Sistemde haber bulunamadı.</p>
    {% endif %}
{% endblock content %}
