{% extends "base.html" %}
{% load thumbnail %}
{% block page_title %}Anasayfa{% endblock page_title %}

{% block extra_head %}
<style>

.media {
  background-color: #ccc;
  padding: 10px;
  color: black;
  margin-left: 10px;
  margin-top:10px !important;


  background: rgb(179,190,173); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(179,190,173,1) 0%, rgba(223,229,215,1) 60%, rgba(252,255,244,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,190,173,1)), color-stop(60%,rgba(223,229,215,1)), color-stop(100%,rgba(252,255,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=0 ); /* IE6-9 */

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

    -webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;



}

.media-heading {
  font-size:15px;
  line-height:20px;


background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

  color:#000;
  padding:8px;
  margin:0;
  text-shadow:1px 1px 0 rgba(0,0,0,0.5);

  text-transform:capitalize;

}

a {
  color: #000;
}

a:hover {

}


.news-image {
  border: 1px solid black;
  display: inline-block;
  background-color: yellow;

}

.news-footer {
    float: right;
    padding-top: 10px;
    clear: both;

}
</style>
{% endblock extra_head %}

{% block content %}
   {% if homepage_news %}
        {% for article in homepage_news %}


        <div class="media">
          <a href="#" class="pull-left"><img src="{% thumbnail article.image 200x120 crop %}" class="media-object" alt='' /></a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{% url 'news_home' %}{{ article.slug }}">{{ article.title }}</a>
            </h4>
            {{ article.content|truncatewords:50 }}
          </div>
          <div class="news-footer">
            <p>
                  <i class="icon-user"></i> <a href="/profil/{{ article.publisher.pk }}">{{ article.publisher }}</a> 
                  | <i class="icon-calendar"></i> {{ article.pub_date|timesince }}
                  | <i class="icon-comment"></i> <a href="{% url 'news_home' %}{{ article.slug }}#disqus_thread">Yorumlar</a> 
                  | <i class="icon-share"></i> <a href="{% url 'news_home' %}{{ article.slug }}"> Haberi Oku </a>
            </p>
          </div>
        </div>

                  
        {% endfor %}
    {% else %}
        <p>Sistemde haber bulunamadı.</p>
    {% endif %}



                    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'dotatr'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock content %}
